:root{
--dark: #34282C;
--yellow: #FFB344;
}
body {
    font-size: 20px;
    background-color: #FFF8E5;
    line-height: 1.5;
}
  
h1 {
    display:inline;
    border: 5px solid #FFF8E5;
    background-color: #FFF8E5; 
    padding: 10px;
    margin-right: 25px;
}
h2 {
    font-size: 180%;
    color: var(--yellow);
    border-bottom: 3px solid #E05D5D;
    text-align: start;
  }

.title {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    background-color: #00A19D;
    border: 1px solid #FFF8E5;
}

.pain :hover {
    border: 5px solid #00A19D;
    opacity:0.5;
}

header {
    padding: 30px 0px;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: #00A19D;
    color: var(--yellow);
}

.section, .contact {
    padding: 40px;
    padding-left: 60px;
  }

#subtitle {
    position: absolute;
    right:0;
    bottom: 50px;
    font-size: 32px;
    color: var(--yellow);
    width: 150px;
    padding:1px;
}

.nav-links {
    display: flex;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #FFF8E5;
}

.nav-links li, a {
    margin:10px;
    list-style-type: none;
    color:  #FFF8E5;
    font-weight: bold;
    text-decoration: none;
  }
  

.background {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/624980.jpg');
    background-size: cover;
    background-position: center;
}

.paragragh {
    color: var(--dark);
    padding-top: 10px;
    padding-left: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px;


    }
      

.products {
    flex: 1 0 100%;
    flex-wrap:wrap;
    color: var(--dark);
    padding-top: 0.5rem;
    padding:10px;
    transition: flex-basis 500ms linear;

}

.pain {
    position: relative;
    padding: 10px;

  }


.contact {
    padding-top: 15px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.links {
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: var(--yellow);
    font-weight: bold;
    text-decoration: underline #E05D5D;
}

footer {
    text-align: center;
    padding: 30px;
    clear: both;
}



@media screen and (min-width: 992px) {
    .section {
      display: flex;
    }
  
    h2 {
        float:left;
        border-right: 3px solid #E05D5D;
        border-bottom: none;
        padding-top: 0;
        padding-right: 0.5rem;
    }

    .row {
        display:inline;
    }
    .products {
        float: right;
        width: 25%;
    }


@media screen and (min-width: 768px) {
    .pain {
        display:flex;
        flex: wrap;
        width: 50%;
    }

}

@media screen and (min-width: 600px) {
    .pain {
        width: 100%
    }

}