:root{
--dark: #34282C;
}
body {
    font-size: 20px;
    background-color: #FFF8E5;
    line-height: 1.5;
}
  
h1 {
    display:inline;
    border: 5px solid #FFF8E5;
    background-color: #FFF8E5; 
    padding: 10px;
    margin-right: 25px;
}
h2 {
    font-size: 180%;
    color: #FFB344;
    border-bottom: 3px solid #E05D5D;
  }



header {
    padding: 30px 0px;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: #00A19D;
    color: #FFB344;
}

.section, .contact {
    padding: 40px;
    padding-left: 60px;
  }

#subtitle {
    position: absolute;
    right:0;
    bottom: 50px;
    font-size: 32px;
    color: #FFB344;
    width: 150px;
    padding:1px;
}

.nav-links {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #FFF8E5;
}

.nav-links li, a {
    display: inline-block;
    margin:10px;
    list-style-type: none;
    color:  #FFF8E5;
    font-weight: bold;
    text-decoration: none;
  }
  

.background {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/624980.jpg');
    background-size: cover;
    background-position: center;
}

.paragragh {
    color: var(--dark);
    padding-top: 10px;
    padding-left: 20px;

}

.row {
    display: inline;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
      }
      

.products {
    display:inline;
    color: var(--dark);
    padding-top: 0.5rem;
    width:50%;
    padding:10px;
    transition: flex-basis 500ms linear;
}

.pain {
    padding: 10px;
    transition: flex-basis 500ms linear;
  }


.contact {
    padding-top: 15px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.contact :hover {
    text-decoration: underline #E05D5D;
}

.contact-bar ul .contact a {
    display: inline;
    list-style-type: none;
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
    float: center;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}



@media screen and (min-width: 992px) {
    .section {
      display: flex;
    }
  
    h2 {
        border-right: 3px solid #E05D5D;
        border-bottom: none;
        padding-top: 0;
        padding-right: 0.5rem;
    }
    .row {
        display:inline;
    }
}

@media screen and (min-width: 768px) {
    .pain {
        width: 50%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      } 
}

@media screen and (min-width: 600px) {
    .pain {
        width: 100%
    }
}